# Xcode
.DS_Store
*.xcodeproj/xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.xcarchive/

# Dependencies (e.g., CocoaPods, Carthage, Swift Package Manager)
Pods/
Carthage/Build/
.build/
Package.resolved

# Other common files
*.xcuserstate
*.playground/xcuserdata/
*.swiftpm/
fastlane/report/
fastlane/screenshots/